<%= modal advance: false do |m| %>
  <% m.title do %>
    <label class="time-form__title"><%= @timer.name.capitalize %> objective</label>
  <% end %>
  <%= form_with model: @timer, class: "time-form" do |f| %>
    <%= f.text_field :expected_time, class: "time-form__input", placeholder: "HH:MM",
                        pattern: '^(?:[01]?\d|2[0-3]):[0-5]\d$',
                        title:   '00:00-23:59', maxlength: 5, inputmode: 'numeric' %>
    <%= f.submit "Save", class: "time-form__save-button" %>
  <% end %>
<% end %>